<!-- app/views/anuncios/new.html.erb -->
<%= form_with model: [@usuario, @usuario.anuncios.build] do |form| %>
  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.submit "Crear Anuncio",  data: { turbo: "false" } %>
  </div>
 
<% end %>
